.screen-header{
    padding-top:50px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;

}
.screen-header_icons span{
    padding-left: var(--horizontal-space);
    position: relative;
}
.header-cog__update{
    width: 6px;
    height: 6px;
    background-color: tomato;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    bottom: 20px;
    
}
@keyframes rotateCog {
    from{
        transform:  none;
    }
    to{
        transform: rotateZ(360deg);
    }
}
.screen-header_icons .fa-cog:hover{
    animation: rotateCog 1s linear infinite;
}